table {
    color: white;
    font-family: monospace;
    font-size: 1rem;
    background: black;
}
table a {
    color: deepskyblue;
}

tbody {
    background: dimgrey;
}
tbody > tr:hover { /* Highlight hovered row for better readability */
    background-color: lightgray;
    color: black;
    font-weight: bold;
}
td, th {
    padding: 0.5rem;
}
th {
    text-decoration: underline;
    cursor: pointer;
}
